<app-blog-create [updateList]="callBackFunction" />

@if(blogsList$ | async; as blogs){
<ul>
  @for(blog of blogs; track blog.id){
  <li>
    <app-blog-detail [blogDetail]="blog" />
    <div>
      @if(isFormOpen(blog.id)){
      <app-blog-edit [id]="blog.id" [updateList]="callBackFunction" />
      }
    </div>
    <button (click)="toggleForm(blog.id)">
      {{ isFormOpen(blog.id) ? "Hide the update form" : "Update Blog" }}
    </button>
    <button (click)="removeBlog(blog.id)">Delete</button>
  </li>
  }
</ul>
}@else {
<div>
  <app-error-message [errorMessage]="errorMessage" />
</div>
}
